/* Pre Styles */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
/* Pre Styles */
header, footer, article, nav, section, aside, hgroup{
		display:block;
	}
html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td{
	border:0;
	margin:0;
	outline:0;
	padding:0;
}
html{  
	height: 100%; 
	overflow-y: scroll;
}
body {
    color: #000;
    font:300 18px Lato,'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #fff;
}
img{
	max-width: 100%;
	margin: 0 auto;
	display: block;

}
ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p{
	margin-top: 10px;
}
h1,h2,h3,h4,h5,h6{
	text-transform: capitalize;
	font-family: Lato,Georgia,"Times New Roman",Times,serif;
}
input, select, textarea {
  margin:0; 
  padding:0; 	
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  box-sizing:border-box;
}
small{
	font-size: 12px;
}
a{
	text-decoration: none;
	color:#000;
	border-bottom: 1px solid #c9c9c9;
}
a:hover{
	color: #ff9708;
	border-bottom-color: #ff9708;
}

.un-list{
	padding-left: 2em;
}

.un-list li{
	list-style: disc;
}
/* Container centralizing */

#container{
	display: table; 
	position: absolute;
	height: 100%; 
	width: 100%;
}
.container-inner{
	display: table-cell; 
	vertical-align: middle;
}
.content{
	margin-left: auto; 
	margin-right: auto; 
	max-width: 1000px;
	width: 80%;
	text-align: center;
}

.main-heading{
	font-size: 3em;
	background-image: url('../images/logo.png');
	background-size: 100%;
	height: 240px;
	width: 240px;
	margin: 0 auto;
	text-indent: -9999px;
}

.main-desc{
	font-size: 24px;
	margin-top: 50px;
}

.main-links, .logo-links {
	margin-top: 10px;
}

.main-links li ,.logo-links li{
	display: inline-block;
	margin-right: 20px;
	margin-top: 15px;
}

.logo-links li{
	max-width: 200px;
	width: 30%;
	vertical-align: middle;
}

.main-links a , .signup-form input{
	border-radius: 2px;
	border: none;
	color: #000;
	letter-spacing: 3px;
	display: block;
	font-size: 18px;
	height: 52px;
	line-height: 50px;
	margin: 0px auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	background-color: #90c67c;
	position: relative;
	cursor: pointer;
}

.main-links .orange{
	background-color: #ff9708;
}
.main-links a:hover , .signup-form input[type="submit"]:hover{
	background: #000;
	color: #fff;
	border: none;
}

/* Styles for bottom divs */


#main-content{
	width:100%;
	position:absolute;
	top: 100%;
}

.page{
	padding: 4em 0;
	border-top: 10px solid #282829;
}

.page-inner{
	min-height: 500px;
	width: 80%;
	max-width: 1400px;
	text-align: center;
	margin: 0 auto;
}

.align-left{
	text-align: left;
}
.page-heading{
	font-size: 2.3em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.feature-list{
	width: 90%;
	margin: 0 auto;
	margin-top: 1em;
}

.feature-list li{
	display: inline-block;
	width: 45%;
	min-width: 400px;
	margin-top:2em;
	padding: 0 2em;
	vertical-align: top;
}

.feature-list p{
	text-align: justify;
}

.membership-list{
	margin-top: 4em;
	margin-bottom: 3em;
}

.membership-list li{
	display: inline-block;
	width: 250px;
	min-height:200px;
	border: 1px solid #000;
	padding: 0 10px;
	margin-top: 10px;
	vertical-align: top;
	border-radius: 3px;
	margin-top: 20px;
}

.section-heading{
	padding-bottom: 5px;
	border-bottom: 3px solid #282829; 
}

.membership-list .price{
	font-size: 20px;
	font-weight: 900;
}

.contact-location li{
	display: inline-block;
	width: 300px;
	border: 3px solid #000;
	padding:0;
	margin-top: 10px;
	vertical-align: top;
	margin-right: 20px;
	margin-top: 20px;
	padding-bottom: 10px;
}

.contact-location img{
	margin-bottom: 1em;
}

.details li{
	border:none;
	width: 49%;
	vertical-align: center;
	box-shadow: none;
}

.signup-form{
	width: 90%;
	max-width: 6;
	margin: 3em  auto;
	color: #000;
	text-align: center;
	position: relative;
}

.signup-form h2{
	text-transform: none;
}

.signup-form input{ 
	letter-spacing: 3px;
	display: inline-block;
	font-size: 18px;
	height: 55px;
	line-height: 50px;
	margin-right: 20px;
	margin-top: 20px;
	width: 380px;
}

.signup-form input[type="email"]{
	cursor: text;
	background: #fff;
	border: 1px solid #000;
}

.signup-form p{
	margin-bottom: 20px;
}

.signup-form input[type="submit"]{
	width: 200px;
}

/* Footer */

.footer{
	background: #000;
	color: #fff;
	padding:2em 0;
}

.footer .page-inner{
	min-height: 100px;
}

.footer a{
	text-decoration: none;
	color: #fff;
	font-weight:bold;
}
.footer li{
	display: inline;
	margin-right: 15px;
	float: left;
}

.ft-right{
	float: right;
}

.footer-social li:after{
	content: "*";
	color: #fff;
	padding-left: 5px;
	position: absolute;
	top: 0.4rem;
	font-size: 1.2rem;
}

.footer-social li:last-child:after, .footer-social li:first-child:after{
	content: " " ;
	padding: 0;
}

.footer-qt{
	display: block;
	float: left;
	margin-top: 2em;
	font-size: 14px;
	border-top: 1px solid #fff;
	padding-top: 1em;
	text-align: left;
}

/* Custom Res Targets */
@media(max-width: 900px){
	#main-content{
		top:130%;
	}
}
@media(max-width: 700px){
	#main-content{
		top:150%;
	}
	.page-inner{
		width: 90%;
	}
}
@media(max-width: 560px){
	.page-inner{
		width: 98%;
	}
	.feature-list{
		width: 100%;
	}
 	.feature-list li{
 		width: 90%;
 		min-width: 200px;
 	}
}